# ignore any .log files
*.log
config.env
# ignore __pycache__ like files
__pycache__/arxiv_client.cpython-310.pyc

google_credentials.json
__pycache__/google_sheets_manager.cpython-310.pyc
__pycache__/